<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BIGMART-Add Category</title>
</head>
<body>
<div class="col-md-12 grid-margin stretch-card" style="margin-top:30px;">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">ADD CATEGORY</h4>
<!--                  <p class="card-description">-->
<!--                    Basic form layout-->
<!--                  </p>-->
                  <form class="forms-sample" method="post" action="{% url 'update_category' cat_ID=cat_data.id %}" enctype="multipart/form-data">
                      {% csrf_token %}
                    <div class="form-group">
                      <label for="exampleInputUsername1">Category Name</label>
                      <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Category Name" name="name" value="{{cat_data.cat_name}}">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Description</label>
                      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Description" name="des" value="{{cat_data.cat_des}}">
                    </div>
                    <div class="form-group">
                      <label for="exampleImage">Category Image</label>
                        <img src="{{cat_data.cat_image.url}}" style="width:80px;height:70px;">
                      <input type="file" class="form-control" id="exampleImage" placeholder="Upload Image" name="image">
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">UPDATE</button>
                    <button class="btn btn-light">Cancel</button>
                  </form>
                </div>
              </div>
            </div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% if messages %}
  {% for i in messages %}
    {% if i.tags == 'success' %}
       <script>
           swal('{{i}}','','success');
       </script>
    {% elif i.tags == 'error' %}
       <script>
           swal('{{i}}','','error');
       </script>
    {% elif i.tags == 'warning' %}
       <script>
           swal('{{i}}','','warning');
       </script>
    {% else %}
       <script>
           swal('{{i}}','','info');
       </script>

    {% endif %}

  {% endfor %}
{% endif %}
</body>
</html>
{% endblock %}